*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.forgot-password{
   display: flex;
   /* border: 1px solid red; */
   justify-content: center;
   align-items: center;
}

.form-items h1{
   text-align: center;
}