* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.login-form {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.form-items {
   width: 100%;
   max-width: 500px;
   padding: 30px;
   background-color: #fff;
   border: 1px dotted gray;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}


.logo {
   display: block;
   margin: 0 auto 20px;
   width: 120px;
}

.input-field {
   padding: 10px;
}

.rem-forgot-inner {
   /* border: 1px solid red; */
   display: flex !important;
   justify-content: space-between !important;
   align-items: center !important;

}

.login-btn {
   text-align: center;
   margin-top: 10px;
   width: 100%;
   /* border: 1px solid red; */
}

.login-btn button {
   width: 100%;
   padding: 20px;
   font-size: 1rem;
   font-weight: 500;
}

.signup-link {
   text-align: center;
   margin-top: 20px;
}